# Rust
target/
Cargo.lock

# Node.js
/apps/frontend/node_modules/
/apps/frontend/dist/
.DS_Store

# npm
npm-debug.log*
package-lock.json # Wichtig, um npm-Lockfiles auszuschließen

# Yarn
yarn-error.log
yarn-debug.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.db
*.db-*